@font-face {
    font-family: 'CopenhagenGrotesk-bold';
    src: url('font/CopenhagenGrotesk-bold.otf')
}

@font-face {
    font-family: 'CopenhagenGrotesk-light';
    src: url('font/CopenhagenGrotesk-light.otf')
}

@font-face {
    font-family: 'CopenhagenGrotesk';
    src: url('font/CopenhagenGrotesk.otf')
}


#logo a img{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    text-align:center;
    display: flex;
    width: 90%;
    max-width: 400px;
}


#question{
    font-family: 'CopenhagenGrotesk-bold';
    text-align: center;
    color: #241c4b;
}

#htnm{
    font-family: 'CopenhagenGrotesk-bold';
    text-align: center;
    color: #241c4b;
}
/* ---------- Bouton 1 ----------- */

#bouton_oui{
    list-style-type: none;
    text-align: center;
    background-color: #05b2bb;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;  /* gère l'espace à l'intérieur du bouton */
    width: 200px;
    border-radius: 20px;
}

#bouton_oui a{
    font-family: 'CopenhagenGrotesk';
    color: #ffffff;
    text-decoration: none;
}

#bouton_oui a:hover{
    color: #241c4b;
}

/* ---------- Bouton 2 ----------- */

#bouton_non{
    list-style-type: none;
    text-align: center;
    background-color: #e44858;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px;  /* gère l'espace à l'intérieur du bouton */
    width: 200px;
    border-radius: 20px;
}

#bouton_non a{
    font-family: 'CopenhagenGrotesk';
    color: #ffffff;
    text-decoration: none;
}

#bouton_non a:hover{
    color: #241c4b;
}


/* -------------- informations ----------- */


#informations{
    background-color: #05b2bb;
    font-family: 'CopenhagenGrotesk';
    text-align: center;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    margin: auto;
}

/* -------------- lien site ----------- */

#lien_site {
    list-style-type: none;
    text-align: center;
}

#lien_site a {
    font-family: 'CopenhagenGrotesk';
    color: #241c4b;
    text-decoration: none;
}

#lien_site a:hover{
    color: #05b2bb;
}





